/.env
/.gitconfig
/.install
!.gitkeep
/var/cache/*
/var/logs/*
/var/data/*
/var/data/mysql/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/data/.gitkeep
!var/data/mysql.gitkeep
/bin/*
!/bin/docker-compose
!/bin/composer
!/bin/grumphp
!/bin/node
!/bin/npm
!/bin/php
!/bin/phpcbf
!/bin/phpunit
!/etc/node/package.json
!/etc/node/.gitkeep
/etc/node/*
/vendor/
/.php_cs.cache
/web/doc/*
!/web/doc/.gitkeep
!/web/doc/.htaccess
!/tests/functionals/build/.gitkeep
/tests/functionals/build/*
/etc/doc/
newman.json
